
build

docs/_site
docs/Gemfile
docs/Gemfile.lock
docs/.sass-cache

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# dotenv
.env

.vscode

/lib

.idea/

